@ charset "UTF-8"
*{padding:0;

 margin:0;}


html
{
	height:100%;
	font-size:20px;
}


header, footer
{
	width:97%;
	border-radius:5px;
	padding:1%;
	float:left;
}
header
{
	background-image: url(img/red_ambush_small.jpg);
}
footer
{
	background-image:url(img/i.jpg);
	margin-top:2px;
	border-top:2px solid silver;
	font-size: 20px;
	color:#B200FF;
	margin-bottom:0px;
  bottom:0px;
  position: fixed;
}

body
{
	background-color:#eee;
	width:100%;
	height:100%;
	color:#003AB5;
	background-image: url("img/background.jpg");
  background-repeat:repeat-y;
  background-size: cover;
	font-size:1em;
	font-family:"Bodoni", sans-serif;
}
a
{
	color:#FF8B32;
	text-decoration:none;
	transition:all.6s ease;
}
a:hover
{
	color:#00CC0A;
	text-decoration:none;
	transition:all.6s ease;
}
a:active{color:#0021FF}

::selection
{
	background:#8CF800;
	color:#F7A42B;
}

img
{
	max-width:100%;
	height:auto;
	width:auto\9;
}

h1
{
	color:#CE5242;
	font-size:50px;
}

#kazakov p
{
	color:#D50400;
	font-size:20px;
	text-indent: 20px;
}

#page-wrap:after
{
	content:"";
	display:block;
}

footer, #page-wrap:after
{
	height:20px;

}

#page-wrap
{
	min-height:96%;

}

#kazakov
{
  background-color: white;
	padding:10px;
	border:1px solid #CB00FF;
	border-radius:5px;
	float:left;
  width: 98.5%
}

#kazakov hr
{
	border-bottom:1px solid #A100FF;
}

#hr
{
	border:1px solid #00BE61;
	border-radius:5px;
	margin:10px;
	padding-left:0;
	padding:10px;
}

#wrapper
{
	float:left;
	width:86%;
  padding-left: 7%;
	margin-top:10px;
  flex-wrap: wrap;
  position: absolute;
  padding-top: 150px;
}

article{
  padding-left: 2%;
  width: 96%;
}
.flex-item
{
	float:left;
	width:28%;
	border: 2px solid #0083FF;
	box-sizing: border-box;
	border-radius:10px;
	margin-left:2.5%;
	margin-right:2.5%;
	min-height:200px;
	background-image: url(img/fon1.png);
	margin-bottom:40px;
}
center
{
	padding:5px;
	margin:5px;
}
.column{
  flex-direction: column;
  display: flex;
  align-content:stretch;
}
.column-top{
  width:138px;
}
.column-middle{
 
  width:70px;
  padding-left: 35.5px;
}
.column-bottom{
  top:-2;
  width: 119px;
  padding-left: 10px;
}
#column-right{
  float: right;
}
#column-left{
  float:left;
}
#fronton{
  width: 100%;
}
em{
	 float:right
}

article a
{
	font-size:25px;
	color:#AA00FF;
}

#i
{
	margin:15px;
	padding:10px;
}
p
{
	color:#231FAD;
	font-size:25px;
}
