
@ charset "UTF-8"
* {
	margin  : 0px;
	padding : 0px;
}

html {
	height    : 100%;
	font-size : 20px;
}
footer,
header {
	width         : 97%;
	float         : left;
	padding       : 1%;
	border-radius : 5px;
}

header {
	background-image : url(img/header.jpg);
}

#header{
	background-image: url('img/fronton-clean.png');
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 2%;
	padding-top: 7%;
}

footer {
	bottom           : 0px;
	margin-top       : 2px;
	margin-bottom    : 0px;
	color            : #B200FF;
	border-top       : 2px solid silver;
	background-image : url(img/i.jpg);
	font-size        : 20px;
}

body {
	width             : 100%;
	height            : 100%;
	color             : #003AB5;
	background-image  : url("img/background.jpg");
	background-repeat : round;
	font-family       : "Bodoni";
	font-size         : 1em;
}

a {
	color           : #1476b6;
	text-decoration : none;
	transition      : all.6s ease;
}

a:hover {
	color           : #0DAA1F;
	text-decoration : none;
	transition      : all.6s ease;
}

a:active {
	color : #D01950;
}

::selection {
	color      : #E4347A;
	background : #99E9EB;
}

img {
	width     : auto\9;
	max-width : 100%;
	height    : auto;
}

h1 {
	color     : #CE5242;
	font-size : 50px;
}

#kazakov p {
	color       : #998960;
	text-indent : 20px;
	font-size   : 20px;
}

#page-wrap:after {
	content : "";
	display : block;
}

#page-wrap:after,
footer {
	height : 20px;
}

#page-wrap {
	min-height : 96%;
}

#kazakov {
	width            : 98.5%;
	padding          : 10px;
	border           : 1px solid #CB00FF;
	border-radius    : 5px;
	background-color : white;
}

#kazakov hr {
	border-bottom : 1px solid #A100FF;
}

#hr {
	margin        : 10px;
	padding       : 10px;
	padding-left  : 0;
	border        : 1px solid #00BE61;
	border-radius : 5px;
}

#wrapper {
	position     : absolute;
	width        : 80%;
	float        : left;
    margin-top   : 35px;
    margin-bottom: 40px;
	padding-left : 8%;
	flex-wrap    : wrap;
}

article {
	width        : 96%;
	padding-left : 2%;
}

.flex-item {
	box-sizing          : border-box;
	width               : 28%;
	min-height          : 200px;
	float               : left;
	margin-right        : 2.5%;
	margin-bottom       : 40px;
	margin-left         : 2.5%;
	border              : 2px solid #0083FF;
	border-radius       : 10px;
	background-color    : hsla(0,0%,96%,0.6);
}

center {
	margin  : 5px;
	padding : 5px;
}

.column {
	display        : flex;
	width          : 100px;
	align-content  : stretch;
	flex-direction : column;
}

.column-top {
	width : 100%;
}

.column-middle {
	width        : 51.4%;
	height       : 100%;
	padding-left : 25.5%;
}

.column-bottom {
	width        : 87%;
	padding-left : 6.6%;
}

#column-right {
	float : right;
}

#column-left {
	float : left;
}

#fronton {
	width : 100%;
}

em {
	float : right;
}

article a {
	color     : #333333;
	font-size : 25px;
}

#i {
	margin  : 15px;
	padding : 10px;
}

p {
	color     : #231FAD;
	font-size : 25px;
}
#wrapper p{text-indent: 20px;}
